api-main/.venv/

api-main/.venv/
api-main/doc.md
venv/
env/

**/uploads/


shared_reports
.pytest_cache/

htmlcov/
.coverage

__pycache__/
*.pyc
*.pyo
*.pyd

allure-results/
api-main/allure-results/

api-main/.idea/
.idea/
.vscode/
*.iml

frontend_by_copilot/node_modules
node_modules/
.vite
frontend/.vite
frontend/dist
frontend/node_modules

dist/
build/

.env
*.env
.env.*

docker-compose.override.yaml

TODO.txt