backend/.venv/

backend/.venv/
venv/
env/

__pycache__/
*.pyc
*.pyo
*.pyd

backend/.idea/
.idea/
.vscode/
*.iml

frontend_by_copilot/node_modules
node_modules/

dist/
build/

.env
*.env
.env.*

TODO.txt